/* 
  -----------------------------------
  PopMenu Magic Style Sheet
  by Project Seven Development
  www.projectseven.com
  Menu Type: Horizontal
  Style Theme:11 -Espresso
  -----------------------------------
*/
#p7PMnav {
	margin: 0;
	padding:0;
}
#p7PMnav li {
	list-style-type: none;
	margin: 0 1px 0 0;
	padding: 0;
}
#p7PMnav ul li {
	border: 0;
}
#p7PMnav ul {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -9000px;
	z-index: 10000;
	border-top: 1px solid #fbf9f7;
	border-right: 1px solid #fbf9f7;
	border-bottom: 1px solid #fbf9f7;
	border-left: 1px solid #fbf9f7;
}
#p7PMnav ul ul {
	border-top: 1px solid #F4EDD5;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #F4EDD5;
}
#p7PMnav a {
	display: block;
	text-decoration: none;
	background-color: #000000;
	padding: 4px 5px;
	color: #83c441;
	line-height:1;
	border-bottom: 0 solid #fbf9f7;
	border-top: 0px solid #fbf9f7;
	border-right: 0px solid #fbf9f7;
	border-left: 0px solid #fbf9f7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
}
#p7PMnav ul a {
	border: 0;
	background-color: #deecca;
}
#p7PMnav a:hover, #p7PMnav a:active, #p7PMnav a:focus {
	background-color: #83c441;
	color: #FFFFFF;
	letter-spacing: 0.01px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
}
#p7PMnav ul a:hover, #p7PMnav ul a:active, #p7PMnav ul a:focus {
	background-color: #83c441;
	color: #FFFFFF;
	letter-spacing: 0.01px;
}
/* ------ the current page marker style ------ */
#p7PMnav .p7PMmark {
	font-weight: bold;
	color: #ff591e;
	background-color: #000000;
}
#p7PMnav ul .p7PMmark {
	font-weight: bold;
	color: #83c441;
	background-color: #deecca;
}
/* ------ the trigger link styles ------- */

/*the normal trigger link */
#p7PMnav ul .p7PMtrg, #p7PMnav ul .p7PMon {
	background-image:  url(img/p7PM_light_east.gif);
	background-repeat:	no-repeat;
	background-position: right;
	color: #000000;
}
#p7PMnav .p7PMon {
	background-color: #83c441;
	color: #FFFFFF;
}
#p7PMnav ul .p7PMon {
	background-color: #83c441;
	color: #FFFFFF;
}
/*the submenu classes */

#p7PMnav .p7PMhide {
	left: -9000px;
	border: 0;
}
#p7PMnav .p7PMshow {
	left: auto;
	z-index: 20000 !important;
}
/* Top level menu width */
#p7PMnav li {
	float: left;
	width: 106px;
}
#p7PMnav ul li {
	float: none;
}
/* 2nd and subsequent Submenu widths */
#p7PMnav ul, #p7PMnav ul li {
	width: 104px;
	margin: 0;
}
#pmmcrumb {
	font-weight: bold;
	margin: 0 0 16px 16px;
	color: #83c441;
}
#pmmcrumb a {
	font-weight: normal;
	color: #BBA997;
}
